body {
    font-family: 'Inter', sans-serif;
    font-family: 'Lobster', cursive;
    font-family: 'Poppins', sans-serif;

}




.header-div {
    text-align: center;
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 1340px;
    height: 673px;
    background-size: cover;
}

.header-div h1 {
    font-weight: 700;
    font-size: 65px;
    color: white;
}

.header-div p {
    color: white;
    font-family: 'Poppins';

    font-weight: 400;
    font-size: 18px;
    margin-bottom: 40px;

}






.link-button {

    text-decoration: none;
    padding: 15px 12px;
    background-color: tomato;
    border-radius: 5px;


}

.second-button {
    margin-left: 45%;

}

.donate-today {
    text-align: center;
    margin-top: 100px;
}

.tk {
    display: flex;
    text-align: center;
    justify-content: center;
}

.tk-amount {
    width: 135px;
    height: 123px;
    background-color: rgb(224, 219, 219);
    margin: 10px;
    border-radius: 5px;
}

.tk-orange {
    width: 135px;
    height: 123px;
    margin: 10px;
    color: tomato;
    border: 2px solid tomato;
    border-radius: 5px;
    background-color: rgba(245, 115, 92, 0.24);



}

.other-amount {
    text-align: center;
    border-bottom: 1px solid gray;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 40px;

}

.flexible-container {
    display: flex;
}

.Food-shelter-education {
    width: 360px;
    height: 320px;
    margin: 10px;
    padding-left: 15px;
    padding-top: 50px;
    background: rgba(79, 157, 166, 0.1);
    border-radius: 5px;


}

#family-section {
    margin-left: 75px;
}

.bg-shelter {
    background-color: rgba(255, 89, 89, 0.1);
}

.bg-education {
    background-color: bisque;
}

#mail-box {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


.email-sub {
    width: 809px;
    height: 150px;
    background-color: blanchedalmond;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;


}

.email-sub input {
    border: none;
    width: 275px;
    height: 48px;
    background-color: rgb(196, 187, 187);
}



button {
    background-color: tomato;
    border: none;
    color: white;
    width: 157px;
    height: 48px;
}

footer {
    background-color: black;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 1340px;
    height: 175px;
}



footer h1 {
    font-family: lobster;
    color: tomato;

}